# default ignored directores/files
*.log
.DS_Store
.env*
.eslintcache
.next
.pnp.*
.vercel
.yarn/*
/**/node_modules/
out/
package-lock.json
tsconfig.tsbuildinfo

# allowed directories/files
!**/.gitkeep
!.env.example

# allowed yarn berry directories/files
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
